body {
  font-family: "Comic Sans MS", sans-serif;
  background-color: #f78181;
  text-align: center;
}

hr {
  background-color: red;
  border: none;
  height: 1px;
}

table, tr, td {
  border: 1px solid black;
  text-align: center;
}

table {
  margin-left:auto;
  margin-right:auto;
}

h2, h3, h4, h5, h6 {
  text-decoration: underline;
}

.right {
  float: right;
  height: 125px;
  padding: 10px;
}

.left {
  float: left;
  height: 125px;
  padding: 10px;
}